.clearfix {
  clear: both;
}

/*
*  Step-by-Step Ordering Navbar
*/
#sbs-navbar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

#sbs-navbar a {
  box-shadow: none;
}

span.step-span-container {
  width: 20%;
  border: 4px solid white;
}

.step-div-container {
  text-align: center;
}

.step-index > span.step-number {
  background-color: white;
  border: 1px solid black;
  height: 45px;
  width: 45px;
  display: inline-block;
  font-size: 1.6em;
  border: 3px solid white;
  line-height: 39px;
  position: relative;
  z-index: 3;
}

.step-index > span.step-number.active {
  background-color: black;
  color: white;
}

.step-title {
  background-color: #ddd;
  padding: 25px 0 15px;
  margin-top: -20px;
}

.step-title > a {
  display: block;
  /*color: #648958;*/
  text-decoration: none;
}

.step-title.active {
  background-color: black;
  color: white;
}

h1.step-by-step-title {
  font-size: 36px;
  margin-bottom: 20px;
}

@media (max-width: 414px) {
  .step-title > a {
    font-size: 9px;
  }
}

/* Magnific Popup Custom Styles */
.open-popup-link {
  cursor: pointer;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.modal-left-side, .modal-right-side {
  width: 48%;
}

.modal-add-to-cart {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.modal-select-quantity {
  border: 1px solid black;
  color: #000;
  font-size: 1.3em;
  font-weight: normal;
  height: 58px;
  text-align: center;
  vertical-align: top;
  width: 56px;
}

.modal-add-to-cart-qty-label {
  line-height: 3em;
}

a.add-prod-link.add-prod-link-modal {
  line-height: 2em;
}

@media (max-width: 768px) {
  .modal-add-to-cart {
    display: inline;
  }

  .modal-add-to-cart-qty-label {
    padding-right: 10px;
    line-height: 1em;
  }

  .modal-select-quantity {
    height: 30px;
  }

  a.add-prod-link.add-prod-link-modal {
    line-height: 1em;
    font-size: 16px;
    display: block;
    text-align: center;
    margin-top: 10px;
  }

}

/* Next/Previous Step Buttons at the bottom of each page */
.sbs-store-back-forward-buttons {
  padding: 8px;
  width: 49%;
  border: 2px solid black;
  border-radius: 2px;
}

#sbs-store-back-forward-buttons-container .sbs-store-back-forward-buttons > a {
  box-shadow: none;
}

#sbs-store-back-forward-buttons-container, #sbs-widget-sidebar-back-forward-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

/* SBS Package Selection Panes */
#sbs-package-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sbs-package-container {
  border: 2px solid gray;
  border: 2px solid gray;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.sbs-package-thumbnail {
  max-width: 100%;
}

.sbs-package-title {
  font-size: 28px;
  font-weight: bold;
}

.sbs-package-content {
  padding: 20px 20px 0 20px;
}

.sbs-package-content ul,
.sbs-package-content ol
{
  padding: 0 20px;
}

.sbs-package-price {
  font-size: 36px;
  border-bottom: 1px solid black;
  border-bottom: 1px solid black;
}

.sbs-package-title, .sbs-package-thumbnail, .sbs-package-price, .sbs-add-package-to-cart {
  text-align: center;
}

/* Cart Total Calculator Base Style */
#sbs-widget-sidebar-cart-totals {
  font-size: 0.9em;
}

#sbs-widget-sidebar-cart-totals td {
  padding: 0.8em;
}

#sbs-widget-sidebar-cart-totals td:not(:last-child) {
  border-right: none;
}

#sbs-widget-sidebar-back-forward-buttons-container td {
  text-align: center;
}

.sbs-subcat-name {
  margin-top: 20px;
  padding: 10px;
}

a.sbs-change-package-btn {
  font-size: 0.7em;
  color: #ccc;
  text-decoration: underline;
}

a.sbs-change-package-btn:hover {
  color: #ccc;
}

.sbs-widget-sidebar-total-column {
  text-align: right;
}

/* WooCommerce Message colors */
.woocommerce-message {
  border-top-color: initial;
}

.woocommerce-message::before {
  color: inherit;
}
