#sbs-navbar .step-title {
  position: relative;
}

#sbs-navbar .step-title:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  left: 0;
  bottom: -20px;
  border-bottom: 20px solid transparent;
  border-left: 66px solid;
  border-right: 66px solid;
}
