/**
 *  Source: https://css-tricks.com/examples/ShapesOfCSS/
 */

#sbs-navbar .step-index > span.step-number:before,
#sbs-navbar .step-index > span.step-number:after
{
    position: absolute;
    content: "";
    z-index: -1;
    left: 23px;
    top: -2px;
    width: 28px;
    height: 45px;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}

#sbs-navbar .step-index > span.step-number:after {
    left: -5px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
}

#sbs-navbar .step-index > span.step-number:before {
    border-bottom: 3px solid white;
    border-left: 3px solid white;
}

#sbs-navbar .step-index > span.step-number:after {
    border-bottom: 3px solid white;
    border-right: 3px solid white;
}

#sbs-navbar .step-index > span.step-number,
#sbs-navbar .step-index > span.step-number.active
{
    background-color: transparent;
    border: none;
}
