/**
 *  Source: https://css-tricks.com/examples/ShapesOfCSS/
 */

.step-index > span.step-number {
  height: 39px;
  width: 39px;
  border: none;
}

.step-index > span.step-number:before,
.step-index > span.step-number:after
{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 39px;
  height: 39px;
}

.step-index > span.step-number:before {
  -webkit-transform: rotate(30deg);
     -moz-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
       -o-transform: rotate(30deg);
          transform: rotate(30deg);
}

.step-index > span.step-number:after {
  -webkit-transform: rotate(60deg);
     -moz-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
       -o-transform: rotate(60deg);
          transform: rotate(60deg);
}
