/**
 *  Source: https://css-tricks.com/examples/ShapesOfCSS/
 */

#sbs-navbar .step-title {
  position: relative;
  z-index: 1;
  border-radius: 50% / 10%;
}

#sbs-navbar span.step-span-container {
  width: 15%;
  padding-left: 5px;
  padding-right: 5px;
}

#sbs-navbar .step-title:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}
