.sbs-package-container,
.sbs-subcat-name,
.woocommerce-LoopProduct-link img,
.woocommerce ul.products li.product .button,
.woocommerce a.button,
.woocommerce a.button.alt,
.woocommerce button.button,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
#sbs-widget-sidebar-cart-totals,
.sbs-store-back-forward-buttons
{
  -webkit-box-shadow: 5px 5px 11px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 11px 0px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 11px 0px rgba(0,0,0,0.5);
}

.sbs-options-and-fees .sbs-subcat-name {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.learn-more-link {
  display: block;
  margin-top: 12px;
}
