.sbs-package-container,
.sbs-subcat-name,
.woocommerce ul.products li.product a img,
.woocommerce-page ul.products li.product a img,
.woocommerce ul.products li.product .button,
.woocommerce a.button,
.woocommerce a.button.alt,
.woocommerce button.button,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce-message,
.woocommerce-info,
.woocommerce-error
{
  -webkit-box-shadow: 5px 5px 11px 0px rgba(0,0,0,0.5) !important;
  -moz-box-shadow: 5px 5px 11px 0px rgba(0,0,0,0.5) !important;
  box-shadow: 5px 5px 11px 0px rgba(0,0,0,0.5) !important;
}

#sbs-widget-sidebar-cart-totals {
  -webkit-box-shadow: 3px 3px 11px 0px rgba(0,0,0,0.4) !important;
  -moz-box-shadow: 3px 3px 11px 0px rgba(0,0,0,0.4 !important);
  box-shadow: 3px 3px 11px 0px rgba(0,0,0,0.4) !important;
}

.sbs-options-and-fees .sbs-subcat-name {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.learn-more-link {
  display: block;
  margin-top: 12px;
}
