/* SBS Package Selection Panes */

.sbs-package-container {
  border: 2px solid rgb(2,122,34);
  border: 2px solid rgba(2,122,34,0.44);
}

.sbs-package-price {
  color: green;
  border-bottom: 1px solid rgb(2,122,34);
  border-bottom: 1px solid rgba(2,122,34,0.44);
}

.sbs-package-title {
  background-color: lightgreen;
}

.sbs-widget-sidebar-package {
    background-color: #497b36;
    color: white;
    border-bottom: 3px solid white;
}

#sbs-widget-sidebar-cart-totals {
    background-color: #f8ebcc;
    color: #000;
}
.sbs-widget-sidebar-subtotal {
    background-color: #89e467;
    color: black;
    border-top: 3px solid white;
}

.sbs-widget-sidebar-merch-credit {
    background-color: #f8ebcc;
    border-top: 3px solid white;
    color: black;
}

.sbs-widget-sidebar-subtotal {
    background-color: #89e467;
    color: black;
    border-top: 3px solid white;
}

.sbs-widget-sidebar-grand-total {
    font-size: 1em;
    background-color: #497b36;
    color: white;
    border-top: 3px solid white;
}


.step-title.active {
    background-color: #497b36;
}

.step-title.active > a {
    color: white;
}

.step-index > span.step-number.active {
    background-color: #2a4022;
    color: white;
}

.step-index span.step-number-before.active {
    border-color: #2a4022 transparent;
}

.step-index span.step-number-before.inactive {
    border-color: #a8e892 transparent;
}

.step-title {
    background-color: #f8ebcc;
    padding: 25px 0 15px;
    margin-top: -20px;
}

.step-title-text a,
.step-title-text a:hover
{
  color: #497b36;
}

#sbs-widget-sidebar-back-forward-buttons-container .sbs-store-back-forward-buttons > a,
#sbs-store-back-forward-buttons-container .sbs-store-back-forward-buttons > a,
#sbs-widget-sidebar-back-forward-buttons-container .sbs-store-back-forward-buttons > a:hover,
#sbs-store-back-forward-buttons-container .sbs-store-back-forward-buttons > a:hover
{
  color: #497b36;
}

.step-index > span.step-number {
    background-color: #a8e892;
    display: inline-block;
    font-size: 1.6em;
    /* border-radius: 100%; */
    border: 3px solid white;
    line-height: 39px;
}

.woocommerce-message {
    background-color: #497b36;
    color: white;
}

.woocommerce-message a {
    color: lightblue;
}

.sbs-subcat-name {
    background-color: #a8e892;
}

.woocommerce ul.products li.product .button,
.woocommerce a.button,
.woocommerce a.button:hover {
    background-color: #497b36;
    color: white;
}

a.open-popup-link {
    color: #497b36;
}
