#sbs-navbar .sbs-package-title, .checkout-package {
  background-color: #ddd;
}

.sbs-widget-sidebar-package {
    background-color: #555;
    color: #ffffff;
    border-bottom: 3px solid white;
}

#sbs-widget-sidebar-cart-totals {
    background-color: #bbbbbb;
    font-size: .90em;
    color: #000;
}


.sbs-widget-sidebar-subtotal {
    background-color: #e0dfdf;
    color: black;
    border-top: 3px solid white;
}

.sbs-widget-sidebar-merch-credit {
    background-color: #000000;
    border-top: 3px solid white;
    color: white;
}

.sbs-widget-sidebar-subtotal {
    background-color: #e0dfdf;
    color: black;
    border-top: 3px solid white;
}

.sbs-widget-sidebar-grand-total {
    font-size: 1em;
    background-color: #555555;
    color: #ffffff;
    border-top: 3px solid white;
}


.sbs-store-back-forward-buttons {
    background-color: #bbbbbb;
    padding: 8px;
    width: 49%;
}

.sbs-store-back-forward-buttons > a {
    display: block;
    color: #555555;
}


#sbs-navbar .step-title.active {
    background-color: #bbbbbb;
    color: black;
 }

 #sbs-navbar .step-title.active > a {
    color: #000000;
    font-weight: 600;
}

#sbs-navbar .step-index > span.step-number {
    background-color: #bbbbbb;
    display: inline-block;
    color: #000000;
    font-size: 1.6em;
    /* border-radius: 100%; */
    border: 3px solid white;
    line-height: 39px;
}

#sbs-navbar .step-index > span.step-number.inactive:before,
#sbs-navbar .step-index > span.step-number.inactive:after
{
    border-color: #bbbbbb transparent;
    background-color: #bbbbbb;
}

#sbs-navbar .step-index > span.step-number.active {
    background-color: #000000;
    color: #ffffff;
}

#sbs-navbar .step-index > span.step-number.active:before,
#sbs-navbar .step-index > span.step-number.active:after {
    border-color: #000000 transparent;
    background-color: #000000;
}


#sbs-navbar .step-index span.step-number-before.active,
#sbs-navbar .step-index span.step-number-before.active:after {
    border-color: #000000 transparent;
}

#sbs-navbar .step-index span.step-number-before.inactive,
#sbs-navbar .step-index span.step-number-before.inactive:after {
    border-color: #bbbbbb transparent;
}

#sbs-navbar .step-title {
    background-color: #000000;
    padding: 25px 0 15px;
    margin-top: -20px;
}

#sbs-navbar .step-title-text a {
    display: block;
    color: #ffffff;
    font-weight: 600;
}

#sbs-widget-sidebar-cart-totals a.sbs-change-package-btn,
#sbs-navbar .step-title-text a:hover {
    color: #ffffff;
}

.woocommerce-message {
    background-color: #000000;
    font-weight: bold;
    color: #ffffff !important;
}

.sbs-subcat-name {
    background-color: #bbbbbb;
    color: #555555;
}

.woocommerce ul.products li.product .button,
.woocommerce a.button,
.woocommerce a.button.alt,
.woocommerce a.button:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button,
.woocommerce button.button.alt,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt
{
    background-color: #555555;
    color: #ffffff;
    border: none;
    font-weight: 600;
}

a.open-popup-link,
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price,
.woocommerce div.product span.price,
.product-name a,
.product-loop-remove a
{
    color: #000000;
}

.showmore-btn-container {
    text-align: right;
    color: #000000;
}
