/* SBS Package Selection Panes */

.sbs-package-container {
  border: 2px solid rgb(2,122,34);
  border: 2px solid rgba(2,122,34,0.44);
}

.sbs-package-price {
  color: green;
  border-bottom: 1px solid rgb(2,122,34);
  border-bottom: 1px solid rgba(2,122,34,0.44);
}

.sbs-package-title, .checkout-package {
  background-color: lightgreen;
}

/* SBS Sidebar Calculator */
.sbs-widget-sidebar-package {
    background-color: #497b36;
    color: white;
    border-bottom: 3px solid white;
}

#sbs-widget-sidebar-cart-totals {
    background-color: #d1d1d1;
}

.sbs-widget-sidebar-subtotal {
    background-color: #c9eabe;
    color: black;
    border-top: 3px solid white;
}

.sbs-widget-sidebar-merch-credit {
    background-color: #d1d1d1;
    border-top: 3px solid white;
    color: black;
}
.sbs-widget-sidebar-subtotal {
    background-color: #c9eabe;
    color: black;
    border-top: 3px solid white;
}

.sbs-widget-sidebar-grand-total {
    font-size: 1em;
    background-color: #497b36;
    color: white;
    border-top: 3px solid white;
}

.step-title {
    background-color: #d1d1d1;
    padding: 25px 0 15px;
    margin-top: -20px;
}

.step-title.inactive:before {
    border-color: transparent #d1d1d1;
}

.step-title.active {
    background-color: #497b36;
}

.step-title.active:before {
    border-color: transparent #497b36;
}

.step-title.active > a {
    color: white;
}

.step-index > span.step-number {
    background-color: #c9eabe;
    display: inline-block;
    font-size: 1.6em;
    /* border-radius: 100%; */
    border: 3px solid white;
    line-height: 39px;
}

.step-index > span.step-number.inactive:before,
.step-index > span.step-number.inactive:after
{
    border-color: #c9eabe transparent;
    background-color: #c9eabe;
}

.step-index > span.step-number.active {
    background-color: #2a4022;
    color: white;
}

.step-index > span.step-number.active:before,
.step-index > span.step-number.active:after {
    border-color: #2a4022 transparent;
    background-color: #2a4022;
}

.step-index span.step-number-before.active,
.step-index span.step-number-before.active:after
{
    border-color: #2a4022 transparent;
}

.step-index span.step-number-before.inactive,
.step-index span.step-number-before.inactive:after
{
    border-color: #c9eabe transparent;
}

.step-title-text a,
.step-title-text a:hover
{
  color: #497b36;
}

#sbs-widget-sidebar-back-forward-buttons-container .sbs-store-back-forward-buttons > a,
#sbs-store-back-forward-buttons-container .sbs-store-back-forward-buttons > a,
#sbs-widget-sidebar-back-forward-buttons-container .sbs-store-back-forward-buttons > a:hover,
#sbs-store-back-forward-buttons-container .sbs-store-back-forward-buttons > a:hover
{
  color: #497b36;
}

.woocommerce-message {
    background-color: #497b36;
    color: white;
}

.woocommerce-message a {
    color: lightblue;
}

.sbs-subcat-name {
    background-color: #f8ebcc;
}

.woocommerce ul.products li.product .button,
.woocommerce a.button,
.woocommerce a.button.alt,
.woocommerce a.button:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button,
.woocommerce button.button.alt,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt
{
    background-color: #497b36;
    color: white;
}

a.open-popup-link {
    color: #497b36;
}
