/* SBS Package Selection Panes */

.sbs-package-container {
  border: 2px solid #fcecc7;
}

.sbs-package-price {
  color: #8a140e;
  border-bottom: 1px solid #8a140e;
}

.sbs-package-title,
.checkout-package,
.woocommerce .checkout-package a
{
  color: #fff;
  background-color: #8a140e;
}

.woocommerce .checkout-package a.remove {
  color: #fff !important; /* overrides WooCommerce important tag */
}

/* SBS Sidebar Calculator */

.sbs-widget-sidebar-package {
    background-color: #8a140e;
    color: white;
    border-bottom: 3px solid white;
}

#sbs-widget-sidebar-cart-totals {
    background-color: #fcecc7;
    font-size: .90em;
}

.sbs-widget-sidebar-subtotal {
    background-color: #ffde8f;
    color: black;
    border-top: 3px solid white;
}

.sbs-widget-sidebar-merch-credit {
    background-color: #b9b2b0;
    border-top: 3px solid white;
    color: black;
}

.sbs-widget-sidebar-subtotal {
    background-color: #ffde8f;
    color: black;
    border-top: 3px solid white;
}

.sbs-widget-sidebar-merch-credit {
    background-color: #666666;
    border-top: 3px solid white;
    color: white;
}

.sbs-widget-sidebar-grand-total {
    font-size: 1em;
    background-color: #8a140e;
    color: white;
    border-top: 3px solid white;
}

.step-title.active {
    background-color: #8a140e;
    color: #fff;
}

.step-title.active > a, a.sbs-change-package-btn {
    color: white;
}

.step-index > span.step-number {
    background-color: #fcecc7;
    display: inline-block;
    color: #8a140e;
    font-size: 1.6em;
    /* border-radius: 100%; */
    border: 3px solid white;
    line-height: 39px;
}

.step-index > span.step-number a {
    color: #8a140e;
}

.step-index > span.step-number.inactive:before,
.step-index > span.step-number.inactive:after
{
    border-color: #fcecc7 transparent;
    background-color: #fcecc7;
}


.step-index > span.step-number.active {
    background-color: #cb5866;
    color: white;
}

.step-index > span.step-number.active a {
    color: white;
}

.step-index > span.step-number.active:before,
.step-index > span.step-number.active:after {
    border-color: #cb5866 transparent;
    background-color: #cb5866;
}

.step-index > span.step-number.active:before,
.step-index > span.step-number.active:after {
    border-color: #cb5866 transparent;
}

.step-index span.step-number-before.active,
.step-index span.step-number-before.active:after {
    border-color: #cb5866 transparent;
}

.step-index span.step-number-before.inactive,
.step-index span.step-number-before.inactive:after {
    border-color: #fcecc7 transparent;
}

.step-title {
    background-color: #ffde8f;
    padding: 25px 0 15px;
    margin-top: -20px;
}

.step-title-text a {
    display: block;
    color: #8a140e;
}

.step-title-text a:hover {
    color: #8a140e;
}

.woocommerce-message {
    background-color: #8a140e;
    font-weight: bold;
    color: #d8caca;
}

.sbs-subcat-name {
    background-color: #ffde8f;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 6px;
}

.woocommerce ul.products li.product .button,
.woocommerce a.button,
.woocommerce a.button.alt,
.woocommerce a.button:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button,
.woocommerce button.button.alt,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt
{
    background-color: #8a140e;
    color: white;
}

a.open-popup-link,
.woocommerce ul.products li.product .price,
.product-name a
{
    color: #8a140e;
}

.showmore-btn-container {
    text-align: right;
    color: #8a140e;
}

#sbs-widget-sidebar-cart-totals td, #sbs-widget-sidebar-cart-totals tr {
    max-width: 100%;
    padding: 0.857em 0.587em;
    font-weight: bold;
}

#sbs-widget-sidebar-back-forward-buttons-container .sbs-store-back-forward-buttons > a,
#sbs-store-back-forward-buttons-container .sbs-store-back-forward-buttons > a,
#sbs-widget-sidebar-back-forward-buttons-container .sbs-store-back-forward-buttons > a:hover,
#sbs-store-back-forward-buttons-container .sbs-store-back-forward-buttons > a:hover
{
  color: #8a140e;
}
