.sbs-widget-sidebar-package {
    background-color: #2481c8;
    color: #ffffff;
    border-bottom: 3px solid white;
}

#sbs-widget-sidebar-cart-totals {
    background-color: #e6f0f8;
    font-size: .90em;
    width: 311px;
    color: #084675;
}

.sbs-widget-sidebar-subtotal {
    background-color: #9acbf0;
    color: #084675;
    border-top: 3px solid white;
}

.sbs-widget-sidebar-merch-credit {
    background-color: #084675;
    border-top: 3px solid white;
    color: #72b7eb;
}

.sbs-widget-sidebar-subtotal {
    background-color: #9acbf0;
    color: #084675;
    border-top: 3px solid white;
}

.sbs-widget-sidebar-grand-total {
    font-size: 1em;
    background-color: #2481c8;
    color: #ffffff;
    border-top: 3px solid white;
}

.sbs-store-back-forward-buttons {
    background-color: #084675;
    padding: 8px;
    width: 49%;
    color: #7dc3f8;
}

.sbs-store-back-forward-buttons > a {
    display: block;
    color: #79bff4;
}

.step-title.active {
    background-color: #2481c8;
}

.step-index > span.active {
    background-color: #084675;
    color: #ffffff;
}

.step-title {
    background-color: #084675;
    padding: 25px 0 15px;
    margin-top: -20px;
}

.step-index > span {
    background-color: #2481c8;
    height: 45px;
    width: 45px;
    display: inline-block;
    color: #ffffff;
    font-size: 1.6em;
    border: 3px solid white;
    line-height: 39px;
}

.step-title > a {
    display: block;
    color: #ffffff;
    font-weight: 600;
}

.step-title.active > a {
    color: #ffffff;
    font-weight: 600;
}

.woocommerce-message {
    background-color: #084675;
    font-weight: bold;
    color: #7dc3f8 !important;
}

.et_pb_text_1 > h3:not(:first-child) {
    background-color: #2481c8;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 6px;
    color: #ffffff;
}

.woocommerce ul.products li.product .button {
    background-color: #2481c8;
    color: #ffffff;
    border: none;
    font-weight: 600;
}

.showmore-btn-container {
    text-align: right;
    color: #084675;
}
