.sbs-widget-sidebar-package {
    background-color: #ffde8f;
    color: #8a140e;
    border-bottom: 3px solid white;
}

.sbs-package-title,
.checkout-package,
.woocommerce .checkout-package a
{
    background-color: #ffde8f;
    color: #8a140e;
}

.woocommerce .checkout-package a.remove {
  color: #8a140e !important; /* overrides WooCommerce important tag */
}

#sbs-widget-sidebar-cart-totals {
    background-color: #f5f5f5;
    font-size: .90em;
}

#sbs-widget-sidebar-cart-totals a.sbs-change-package-btn, #sbs-widget-sidebar-cart-totals a.sbs-change-package-btn:hover {
    color: #8a140e;
}

.sbs-widget-sidebar-grand-total {
    font-size: 1em;
    background-color: #ffde8f;
    color: #8a140e;
    border-top: 3px solid white;
}

.sbs-store-back-forward-buttons {
    background-color: #8a140e;
    padding: 8px;
    width: 49%;
}

.sbs-store-back-forward-buttons a, .sbs-store-back-forward-buttons a:hover {
    color: white;
}

.sbs-widget-sidebar-subtotal {
    background-color: #8a140e;
    color: white;
    border-top: 3px solid white;
}

.sbs-widget-sidebar-merch-credit {
    background-color: #666666;
    border-top: 3px solid white;
    color: white;
}

#sbs-navbar .step-index > span.step-number {
    background-color: #be645f;
    display: inline-block;
    color: #ffffff;
    font-size: 1.6em;
    /* border-radius: 100%; */
    border: 3px solid white;
    line-height: 39px;
}

#sbs-navbar .step-index > span.step-number.active {
    background-color: #8a140e;
    color: #ffffff;
}

#sbs-navbar .step-index > span.step-number.inactive:before,
#sbs-navbar .step-index > span.step-number.inactive:after
{
    border-color: #be645f transparent;
    background-color: #be645f;
}

#sbs-navbar .step-title.active {
    background-color: #ffde8f;
    color: #8a140e;
 }

#sbs-navbar .step-index > span.step-number.active:before,
#sbs-navbar .step-index > span.step-number.active:after {
    border-color: #8a140e transparent;
    background-color: #8a140e;
}

#sbs-navbar .step-title.active > a {
    color: #8a140e;
    font-weight: 600;
}

#sbs-navbar .step-index > span.step-title-text.active {
    background-color: #fcecc7;
    color: #8a140e;
}

#sbs-navbar .step-index span.step-number-before.active,
#sbs-navbar .step-index span.step-number-before.active:after {
    border-color: #8a140e transparent;
}

#sbs-navbar .step-index span.step-number-before.inactive,
#sbs-navbar .step-index span.step-number-before.inactive:after {
    border-color: #be645f transparent;
}

#sbs-navbar .step-title-text a,  .step-title-text a:hover {
    display: block;
    color: #ffffff;
    font-weight: 600;
}

#sbs-navbar .step-title {
    background-color: #8a140e;
    padding: 25px 0 15px;
    /* color: darkblue !important; */
    margin-top: -20px;
}

.woocommerce-message {
    background-color: #ffde8f;
    font-weight: bold;
}

.woocommerce-message {
    background-color: #ffde8f;
    font-weight: bold;
    color: #8a140e !important;
}

.sbs-subcat-name {
    background-color: #8a140e;
    color: #ffde8f !important;
}

.woocommerce ul.products li.product .button,
.woocommerce a.button,
.woocommerce a.button.alt,
.woocommerce a.button:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button,
.woocommerce button.button.alt,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt
{
    background-color: #ffde8f;
    color: #8a140e;
    border: none;
}

a.open-popup-link,
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price,
.woocommerce div.product span.price,
.product-name a,
.product-loop-remove a
{
    color: #8a140e;
}
